In [33]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
data = pd.read_csv('C:\\Users\\USER\\Desktop\\dataset\\train.csv')

In [34]:
data.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [35]:
data.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  2.249698e+06     2.249698e+06    2.249698e+06
mean   1.499795e+06     4.000456e+03    4.071839e+03
std    8.661944e+05     3.966146e+03    1.351685e+06
min    1.000000e+00     0.000000e+00    1.000000e+00
25%    7.494795e+05     2.300000e+02    5.118110e+02
50%    1.499558e+06     2.916000e+03    6.630000e+02
75%    2.250664e+06     6.403000e+03    1.062992e+03
max    2.999999e+06     1.342000e+04    1.885801e+09

In [36]:
data.isnull().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [37]:
data = data.rename(columns={'PRODUCT_ID': 'product_id',
                            'TITLE': 'title',
                            'BULLET_POINTS': 'bullet_points',
                            'DESCRIPTION': 'description',
                            'PRODUCT_TYPE_ID': 'product_type_id'})

In [38]:

data['title'] = data['title'].astype(str)
data['bullet_points'] = data['bullet_points'].astype(str)

# Remove HTML tags from the title and bullet_points columns
data['title'] = data['title'].apply(lambda x: re.sub('<[^<]+?>', '', x))
data['bullet_points'] = data['bullet_points'].apply(lambda x: re.sub('<[^<]+?>', '', x))

# Remove special characters from the title and bullet_points columns
data['title'] = data['title'].apply(lambda x: re.sub('[^a-zA-Z0-9 \n\.]', '', x))
data['bullet_points'] = data['bullet_points'].apply(lambda x: re.sub('[^a-zA-Z0-9 \n\.]', '', x))

In [39]:
data['description'] = data['description'].fillna('')

def remove_html_tags(text):
    soup = BeautifulSoup(text, 'html.parser')
    for p in soup.find_all('p'):
        p.extract()
    return soup.get_text()

# Apply the function to the DESCRIPTION column
data['description'] = data['description'].apply(lambda x: remove_html_tags(x))
# data['description'] = data['description'].apply(remove_html_tags)

c:\Users\USER\anaconda3\lib\site-packages\bs4\__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\bs4\__init__.py:404: MarkupResemblesLocatorWarning: The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

In [41]:

def remove_bengali(text):
    bengali_pattern = re.compile("[\u0980-\u09FF\s]+")
    return re.sub(bengali_pattern, "", text)

# Apply the remove_bengali function to the 'description' column
data['description'] = data['description'].apply(remove_bengali)